<div class="container-fluid content"></div>
<div class="row no-gutters no-margin">
    <div class="col-md-6">

                <form class="form">
                    <div class="form-group">
                        <label for="">Email</label>
                        <input [(ngModel)]="registerUserData.Email" name="email" type="text" class="form-control rounded-0" target="blank" placeholder="email" required>
                    </div>

                    <div class="form-group">
                        <label for="">Password</label>
                        <input [(ngModel)]="registerUserData.Password" name="password" type="password" class="form-control rounded-0" required>
                    </div>

                    <div class="form-group">
                        <label for="">Admin</label>
                        <input type="checkbox">
                    </div>
                    <button (click)="registerUser()" type="button" class="btn btn-primary float-right">Register</button>
                </form>
</div>

<div class="col-6 background">
    <h1>Hello world</h1>
</div>

</div>
