<form class="form">

    <label for="name">Name</label> <br>
    <input [(ngModel)]="loginUserData.Email" name="name" type="text" class="form-control rounded-0" target="blank" placeholder="email" required>

    <label for="description">Description</label> <br>
    <input [(ngModel)]="loginUserData.Password" name="description" type="text" class="form-control rounded-0" target="blank" placeholder="email" required> <br>

    <button (click)="useToken()"type="button" class="btn btn-success float-right">Redeem Item</button>

    <h1 *ngIf="isSuccessful">Item Redeemed Successfully</h1>

    <h1>Token Avaluiable = {{tokenAmount}}</h1>
</form>