

            <div class="container">
                <h1>Edit User</h1>
                <div class="row">
                    <div class="col-md-4">
                        <form class="form">
                            <div class="form-group">
                                <label for="">User Name</label>
                                <input name="email" type="text" class="form-control rounded-0" target="blank" placeholder="email" required>
                            </div>
        
                            <button type="button" class="btn btn-primary float-right mt-3">Edit user name</button>
                        </form>
                    </div>
                </div>
                    
            </div>
                
